<%- include("templates/header") %>
    <h1>DB Assignment 1</h1>
    <button onclick="window.location.href='/login'">login</button>
    <button onclick="window.location.href='/createUser'">create user</button>
<%- include("templates/footer") %> 