<%- include("templates/header") %>
    <h1>Hello! <%= username %></h1>
    <button onclick="window.location.href='/members'">members</button>
    <button onclick="window.location.href='/logout'">logout</button>
<%- include("templates/footer") %> 